*{
	padding: 20px;  /*如果你给*{}写了样式，你下面的DIV ，没有写 * 里面的样式，他会自动继承*/
	margin: 0px;
}
.box div{
	width: 150px;
	border: 1px solid red;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.box1{
	height: 120px;	
}
.box2{
	height: 100px;
}
.box3{
	height: 40px;
}
.box4{
	height: 200px;
	border-color: blue!important;
}
.box{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-justify-content: space-between;   /*表示两端对齐*/
               -ms-box-pack: center;
			justify-content: space-between;
    -webkit-align-items: center;
         -ms-flex-align: center;
            align-items: center;   /*表示在中线上对齐*/
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;  /*flex-grow(扩展比率)、flex-shrink(收缩比率)、flex-basic依次为0、0、auto*/
}
@media all and (max-width: 640px){
	.box{
		-webkit-align-items: flex-start;
		     -ms-flex-align: start;
		     align-items: flex-start;
    	flex-wrap: wrap;      /*溢出时自动换行*/
	}
	.box4{
		 -webkit-order: -1;
		-ms-flex-order: -1;
		         order: -1;
	}
}